@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}

img {
  max-width: 100%;
}

:is(button, .btn, .button) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
:is(button, .btn, .button):hover {
  border-color: #646cff;
  color: #fff;
}
:is(button, .btn, .button):focus,
:is(button, .btn, .button):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card .content {
  padding: 15px 15px 30px;
}
.img-wrapper {
  display: flex;
  line-height: 0;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.btn {
  background-color: #213547;
  color: #fff;
  border: 1px solid #213547;
  transition: all 0.3s;
}
.btn:is(:hover, :active) {
  background-color: #535bf2;
  border-color: #535bf2;
}
.average {
  background-color: #cadd1a;
}
.good {
  background-color: #129645;
}
.default-rating {
  padding: 2px 6px;
  border-radius: 2px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
